body
    {
        margin: 0 auto;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        background: rgba(28, 82, 221, 0.56);
     
    }

.header
    {
        margin: 0 auto;
        padding: 58px 0px 64px 0;


    }

.content
    {   
        margin: 0 auto;
        padding: 0px 45px 0px 103px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 1452px;
        /* background-color: aqua; */
    }  

    

.logo-header
    {   
        margin: 0;
        padding: 0;
    }
    
.menu-header
    {
        display: flex;
        justify-content: space-between;
        width: 809px;
        align-items: center;
    }    

.menu-header-text
    {
        display: flex;
        justify-content: space-between;

        width: 606px;
        margin: 0px 39px 0px 0px;

    }    

.menu-header-text h4
    {
        padding: 0;
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: #EBEBEB;
    }
    
.button-header
    {
        margin: 0;
        display: inline-block;
        width: 164px;
        height: 61px;
        padding: 14.5px 34px;
        border: none;
        border-radius: 13px;
        background: linear-gradient(90deg, #345AA4 0%, rgba(63, 0, 156, 0.92) 164.26%); 
    }    


.content-right
    {
        margin: 0;
        /* background-color: brown; */
    
    }

.content-left
    {
        margin: 0;
        display: flex;
        flex-direction: column;
        /* background-color: chocolate; */

    }


.content-left h1
    {
        display: inline-block;
        /* width: 530px; */
        padding: 145px 0px 8px;
        text-align: left;
        vertical-align: top;
        font-style: normal;
        font-weight: 600;
        font-size: 70px;
        line-height: 82px;
        color: #FFFFFF;
    }



h2
    {
        margin: 0;
        padding: 0;
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        color: #E5E5E5;
    }


.button-body
    {
        margin: 0;
        display: inline-block;
        padding: 22px 66px;
        width: fit-content;
        border: none;
        border-radius: 13px;
        background: linear-gradient(90deg, #345AA4 0%, rgba(63, 0, 156, 0.92) 164.26%); 
    }

#h2-button
    {
        display: inline-block;
        margin: 0;
        padding: 0; 
        width: 142px;
    
    }

#h2-left
    {
        padding: 0px 0px 55px;
    } 

#main
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;

        color: #FFFFFF;
    }    

#button-header-text
    {
        height: 28px;
        width: 92px;
        margin: 0;
        padding: 2px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;

        color: #E5E5E5;
    }