body
    {
        margin: 0;
        color: rgba(0, 0, 0, 0.56);
        box-sizing: border-box;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
    }

.cntnr
    {
        width: 940px;
        margin: 0 auto;
        text-align: center;
    }

.header
    {
        margin: 0 auto;
        padding: 65px 0px;
    }

.logo
    {
        text-align: left;
        height: 37px;
        width: 40%;
        display: inline-block;
        padding: 0;
        margin: 0px 0px -4px;
    }  
    

.icn_hdr
    {
        padding-top: 5px;
        height: 37px;
        width: 60%;
        display: inline-block;
        margin: 0px 0px -4px -4px;
        text-align: right;
        vertical-align: top;
               
    }
    



.header a
    {
        display: inline-block;
             
    }


.icn_hdr a
    {
        height: 25px;
        margin-left: 21px;
    }
.icn_hdr a img:hover
    {
      box-shadow: 100px;
    }

.frm{
    background-color: #FAC960;
    margin: 0 auto;
    padding: 110px 0px;
    text-align: center;
}

.frm h1
    {
        margin: 0;
        font-size: 44px;
        color: #8A6D2F;
        font-weight: 400;
        padding: 0;
        line-height: 54px;

    }

.frm h2
    {
        margin: 0;
        font-size: 43px;
        color: #8A6D2F;
        font-weight: 400; 
        padding: 0;
        line-height: 54px;
    }

.inpt
    {
        display: inline-block;
        margin: 0 auto;
        width: 100%;
    }    
#inpt1
    {
        display: inline-block;
        height: 54px;
        width: 57%;
        border: 0px;
        border-radius: 2px 0 0 2px;
        margin: 40px 6px 0px 70px;
        vertical-align: top;
    
    }  

::placeholder
    {
        font-size: 30px;
        padding-left: 40px;
        padding-top: 17px;
        align-content: center;
        margin: 0 0 -4px;
        color: #999999;
        ;
    }

h4
    {
        margin: 0;
        font-size: 30px;
        font-weight: 400; 
        padding: 0;
        line-height: 30px; 
    }        

.btn1
    {
        display: inline-block;
        height: 54px;
        width: 26%;
        border: none;
        margin: 40px 64px 0px 0px;
        background-color: #A8863D;
        border-radius: 0px 2px 2px 0px;
        color: white;
        vertical-align: top;
        text-align: bottom;

    }

    .btn1 :hover
    {
        display: inline-block;
        height: 56px;
        width: 105%;
        border: none;
        margin: -8px;
        background-color: #695427;
        border-radius: 0px 2px 2px 0px; 
        color: white;
        vertical-align: bottom;
        text-align: bottom;
    }
    
.unlim
    {
        margin: 0 auto;
        background-color: #F2F2F2;
    }
h3
    {
        margin: 0;
        font-size: 37px;
        font-weight: 400; 
        padding: 0;
        line-height: 36px; 
    }

h5
    {
        margin: 0;
        font-size: 23px;
        font-weight: 400; 
        padding: 0;
        line-height: 30px; 
    }

.h3u
    {
        margin: 0 auto;
        padding-top: 77px;
    }    
.h5u
    {
        margin: 0 auto;
        padding-top: 32px;
        width: 819px;
    }

.infnt
    {
        margin: 0 auto;
        padding: 63px 0px 81px;
    }

.h3m
    {
        margin: 0 auto;
        padding-top: 89px;
    }    

.h5m
    {
        margin: 0 auto;
        padding-top: 37px;
        width: 819px;
    }    

.mobile
    {
        margin: 0 auto;
        padding: 39px 0px 22px;
    }

.share
    {
        margin: 0 auto;
        text-align: center;
        background-color: #FAC960;
    }
    
.h3s
    {
        margin: 0 auto;
        padding-top: 54px;
    }

.h5s
    {
        margin: 0 auto;
        padding-top: 31px;
        width: 819px;
    }    

.btn2 
    {
        /* display: inline-block; */
        text-align: bottom;
        height: 22px;
        width: 61px;
        border: 1px solid #758696;
        background-color: #FFFFFF;
        border-radius: 2px;
        color: #999999;
        margin: 33px 0px 107px;
    }

.btn2 :hover
    {
        /* display: inline-block; */
        text-align: bottom;
        height: 24px;
        width: 66px;
        border: 1px solid #758696;
        border-radius: 2px;
        background-color: #999999;
        color: #181818;
        margin: -4px -10px;
    }
    
.h5_btn2
    {
        margin: 0 auto;
        font-size: 17px;
        line-height: 22px;
        text-align: bottom;
        /* vertical-align: top; */
    }

.footer
    {
        margin: 0 auto;
        background-color: F2F2F2;
        text-align: center;
    } 

.logo_ftr a
    {
        display: inline-block;
        height: 37px;
        width: 37px;
        margin: 84px 0px 24px;
    }

.social_ftr
    {
        display: inline-block;
        margin: 0px 0px 80px;
    }

.social_ftr a
    {
        display: inline-block;
        text-decoration: none;
        padding: 0px 11px;
    } 
       